c#/AttendanceManagement/AttendanceManagement/xml/SystemData_Schema.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define complex types for users -->
    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="date_of_joining" type="xs:date"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="class_id" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Define complex types for attendance_system -->
    <xs:element name="attendance_system">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="admin" type="UserType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="teachers">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="teacher" type="UserType" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="students">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="student" type="UserType" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Define courses -->
                <xs:element name="courses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:int"/>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="details" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Define complex types for teachers_courses -->
    <xs:element name="teachers_Courses">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="teacherCourses" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="teacher_id" type="xs:int"/>
                            <xs:element name="teacher_courses">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="teacher_course_id" type="xs:int" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>